<mat-form-field appearance="fill">
  <mat-label>Filter By role</mat-label>
  <mat-select (selectionChange)="onChangeRole($event)">
    <mat-option value="admin">admin</mat-option>
    <mat-option value="user">user</mat-option>
  </mat-select>
</mat-form-field>

<div>
  <mat-form-field class="example-form-field" appearance="fill">
    <mat-label>Filter by birthDate</mat-label>
    <mat-date-range-input
      [formGroup]="campaignOne"
      [rangePicker]="campaignOnePicker"
      [comparisonStart]="campaignOne.value.start"
      [comparisonEnd]="campaignOne.value.end"
    >
      <input matStartDate placeholder="Start date" formControlName="start" />
      <input matEndDate placeholder="End date" formControlName="end" />
    </mat-date-range-input>
    <mat-datepicker-toggle
      matSuffix
      [for]="campaignOnePicker"
    ></mat-datepicker-toggle>
    <mat-date-range-picker #campaignOnePicker></mat-date-range-picker>
  </mat-form-field>
</div>
<div class="user__list">
  <mat-list *ngFor="let user of paginatedItems$ | async">
    <mat-list-item>
      <mat-label>
        {{ user.id }}
      </mat-label>
      <mat-label> {{ user.birthday.seconds * 1000 | date }} </mat-label>
      <mat-label>{{ user.email }} </mat-label>
      <mat-label>{{ user.name }} </mat-label>
      <mat-label>{{ user.number }} </mat-label>
      <mat-label>{{ user.password }} </mat-label>
      <mat-label>{{ user.role }} </mat-label>
    </mat-list-item>
  </mat-list>
  <mat-paginator
    [length]="10"
    [pageSizeOptions]="[1, 2, 3]"
    (page)="onPageChange($event)"
  >
    ></mat-paginator
  >
</div>
<button mat-raised-button color="primary" (click)="openDialog()">
  Add new user
</button>
