<form [formGroup]="form" (ngSubmit)="submit()">
  <!-- <div mat-dialog-content>
    <mat-form-field>
      <mat-label>First Name</mat-label>
      <input matInput formControlName="firstName" />
    </mat-form-field>
    <mat-form-field>
      <mat-label>Phone Number</mat-label>
      <input matInput formControlName="number" />
    </mat-form-field>
    <mat-form-field>
      <mat-label>Email</mat-label>
      <input matInput formControlName="email" />
    </mat-form-field>
    <mat-form-field>
      <mat-label>Password</mat-label>
      <input matInput formControlName="password" />
    </mat-form-field>
    <mat-form-field color="accent" appearance="fill">
      <mat-label>Birthday date</mat-label>
      <input matInput [matDatepicker]="picker1" formControlName="birthday" />
      <mat-datepicker-toggle matSuffix [for]="picker1"></mat-datepicker-toggle>
      <mat-datepicker #picker1></mat-datepicker>
    </mat-form-field>
    <mat-form-field appearance="fill">
      <mat-label>Role</mat-label>
      <mat-select formControlName="role">
        <mat-option value="admin">admin</mat-option>
        <mat-option value="user">user</mat-option>
      </mat-select>
    </mat-form-field>
  </div> -->
  <formly-form
    [model]="model"
    [fields]="fields"
    [options]="options"
    [form]="form"
  ></formly-form>
  <div mat-dialog-actions>
    <button mat-button (click)="onNoClick()">No Thanks</button>
    <button mat-button [mat-dialog-close]="data" cdkFocusInitial type="submit">
      Ok
    </button>
  </div>
</form>
